html {
    user-select: none;
    font: calc(0.5vw + 0.5vh + 0.5vmin) 'Helvetica Neue', sans-serif;
}

.active:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    background: #e49549 !important;
}
